snippet Text
<Text>$0</Text>
endsnippet

snippet View
<View>$0</View>
endsnippet

snippet Image
<Image source={$0} />
endsnippet

snippet TextInput
<TextInput
	$0
/>
endsnippet

snippet SafeAreaView
<SafeAreaView>
	$0
</SafeAreaView>
endsnippet

snippet FlatList
<FlatList
	$0
/>
endsnippet

snippet StyleSheet
const $0 = StyleSheet.create({
	
})
endsnippet

snippet Button
<Button>
	$0
</Button>
endsnippet


